body {
    background-color: white;
    font-size:large;
    margin:auto;
}

h1 {
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    margin-left: 10px;
}
